<div class="row">
    <div class="col-lg-6">
        <%= submit_tag 'Salvar', class: "btn btn-primary disabled"  %>
        <%= link_to 'Aprovar', location_composition_product_information_coverages_update_status_path(@information_coverage.composition_product_id),
        data: {confirm: "A atualização da situação, encerra as vigência(s) anterior(es), confirma ?"},
        class: "btn btn-outline btn-success disabled" %>
        <%= link_to 'Encerrar', location_composition_product_information_coverages_update_status_path(@information_coverage.composition_product_id),
        data: {confirm: "A atualização da situação, encerra as vigência(s) anterior(es), confirma ?"},
        class: "btn btn-outline btn-danger" %>
        <%= link_to 'Voltar', location_composition_product_information_coverages_path(@information_coverage.composition_product_id), class: "btn btn-default" %>
    </div>
    <div class="col-lg-6">
        <h5 class="pull-right text-success"><%= "Situação: #{@information_coverage.status_i18n} em #{@information_coverage.date_status}" %> </h5>
    </div>
</div>