<div style="min-height: 550px;">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Seguradoras</h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <% if @insurer.errors.any? %>
        <div class="alert alert-danger">
            <ul>
                <% @insurer.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
                <% end %>
            <ul>
        </div>
    <% end %>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <%= form_for([:location, @insurer]) do |form| %>
                <div class="panel panel-default">
                    <div class="panel-heading col-lg-12" style="height: 50px" >
                    <% if @insurer.id? %>
                        Seguradora (Editar)
                    <% else %>
                        Seguradora (Novo)
                    <% end %>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body ">

                        <div class="row">
                            <div class="col-lg-2" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Código</label>
                                    <%= form.text_field :code, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <%= form.text_field :name, class: "form-control" %>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Telefone Contato</label>
                                    <%= form.text_field :contact_phone, class: "form-control" %>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Nome Contato</label>
                                    <%= form.text_field :contact_name, class: "form-control" %>
                                </div>
                            </div>



                        </div>
                        <!-- /.col-lg-12 -->
                        <%= form.submit 'Salvar', class: "btn btn-primary"  %>
                        <%= link_to 'Voltar', location_insurers_path, class: "btn btn-default" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

