<div style="min-height: 550px;">
    <div class="row">
        <div class="col-lg-8">
            <h4 class="page-header">Produtos</h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">

            <% if @product.errors.any? %>
                <div class="alert alert-danger">
                    <ul>
                        <% @product.errors.full_messages.each do |message| %>
                        <li> <%= message %> </li>
                        <% end %>
                    <ul>
                </div>
            <% end %>

            <%= form_for([:location, @product]) do |form| %>
                <div class="panel panel-default">
                    <div class="panel-heading col-lg-12" style="height: 50px" >
                        <% if @product.id? %>
                            Produto (Editar)
                        <% else %>
                            Produto (Novo)
                        <% end %>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body ">
                        <div class="row">
                            <div class="col-lg-2" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Código</label>
                                    <%= form.text_field :code, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <%= form.text_field :name, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Seguradora</label>
                                    <%= collection_select(:product, :insurer_id, @insurer_options, :id, :name, {}, {:class=>"form-control"}) %>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Ramo</label>
                                    <%= collection_select(:product, :branch_id, @branch_options, :id, :name, {}, {:class=>"form-control"}) %>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <%= form.text_area :description, size: "50x3", class: "form-control" %>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin-top: 10px">
                                <div class="form-group">
                                    <label>Coberturas Relacionadas</label>
                                    <%= collection_select(:product, :cover_ids, @cover_options, :id, :name, {}, {:class=>"form-control", multiple: true, :id=>"selecttwo" }) %>
                                </div>
                            </div>



                        </div>

                     </div>
                </div>
                <!-- /.col-lg-12 -->
                <%= form.submit 'Salvar', class: "btn btn-primary"  %>
                <%= link_to 'Voltar', location_products_path, class: "btn btn-default" %>

            <% end %>
        </div>
    </div>
</div>

<script>
    $(function($){
        $("#selecttwo").select2();
    });
</script>
