<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Ramo:</strong>
  <%= @product.branch.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
