<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @composition_product.product %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @composition_product.cover %>
</p>

<%= link_to 'Edit', edit_composition_product_path(@composition_product) %> |
<%= link_to 'Back', composition_products_path %>
